body {
  font-family: Arial;
  text-align: center;
  background: #121212;
  color: white;
}

.container {
  margin-top: 100px;
}

h1 {
  font-size: 60px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #00adb5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #007b80;
}